<a href="https://colab.research.google.com/github/AguaClara/OSU_depth_filtration/blob/main/Interactive_Tutorial_2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interactive Tutorial 2: Python Basics

Welcome to the Python Basics tutorial! We'll be using code cells in Colab in write and run Python code. Remember that you can refer to the [Python Basics](https://aguaclara.github.io/aguaclara_tutorial/python/python-basics.html) pages in the AguaClara tutorial wiki for help.

1. Write Monroe's favorite food in a string. 
   
   *Hint: It's rice and beans. Yum, string beans.*

In [1]:
favorite_food = 'hotdog'

print(favorite_food)

hotdog

2. Evaluate (1)(2+3)(4^5) using Python math operators.

In [2]:
result = 1*(2+3)*(4**5)

print(result)

5120

3.  Write an expression that evaluates to true if `murky` is false, `colorless` is true, and either `pathogens` or `microbes` is false.

In [7]:
murky = False
colorless = False
pathogens = True
microbes = False
safe_water_on_tap = True
if (murky == 1):
  safe_water_on_tap = False
elif (colorless == 0):
   safe_water_on_tap = False
elif (pathogens == 1 or microbes == 1):
   safe_water_on_tap = False



print(safe_water_on_tap)

False

4. Write the month and day of your favorite date as a list of 2 integers.

In [21]:
date = [3,3]

print(date)

[3, 3]

5. Append the year to the end of the date from the previous cell.

   Then, change the last element of the list to itself plus one.

In [25]:
date = [3,3]
date.append(2000)
print(date)
date[2]=date[2]+1
print(date)

[3, 3, 2000]
[3, 3, 2001]

6. Reassign the density of aluminum to 2.7.

In [39]:
density = {'water' : 1, 'pvc': 1.38, 'aluminum': 27}
density[-1]=2.7
print(density)

{'water': 1, 'pvc': 1.38, 'aluminum': 27, -1: 2.7}

7. Write a conditional statement that prints "Happy \_\_!" if the date in #4 and #5 falls within the dates of your favorite season. If the date is before the season, print "It's not \_\_ yet."; if it's after, print "\_\_ has passed." (Replace \_\_ with your favorite season.) *Hint: get the month and day of the date.*

In [34]:
month=date[0]
print(month)
if (6 < month < 9):
  print('Fav season!')
else:
  print('Not fav season.')

3
Not fav season.

8. Write a for loop to print all the numbers in the list that are even and greater than 16. 
   
   *Hint: use modulo to determine if numbers are even.*

In [50]:
nums = [3, 14, 159, 26, 535, 89, 79, 32]

new=[]
l=len(nums)
print(l)
for k in range(1,l):
  if (nums[k] > 16):
    new.append(nums[k])
  else:
    b=1
print(new)
newnew=[]
j=len(new)
for i in range(1,j):
  c = new[i] % 2
  if (c==0):
    newnew.append(new[i])
  else:
    b=1
print(newnew)

8
[159, 26, 535, 89, 79, 32]
[26, 32]

9. Write a while loop to calculate the sum of the numbers in the list from #8 until the first 3-digit number -- don't include this number.

In [70]:
nums = [3, 14, 159, 26, 535, 89, 79, 32]

nums.reverse()
print(nums)
k=0
sum=0
while nums[k] < 100:
  sum=sum + nums[k]
  k=k+1
  print(sum)

[32, 79, 89, 535, 26, 159, 14, 3]
32
111
200

10. Write a function called "double" that takes in a number and returns its double. Then, call that function so that x is doubled 6 times (((x\*2)\*2)\*2...).
  
  *Hint: Don't copy and paste the function 6 times!*

In [86]:
p=4
def double(p):
 return p*2
p=1
for k in range(0,6):
 p=double(p)

print(p)

64

11. Write a function called "short" that takes a list as an input and returns True if the length of the list is less than or equal to 10 and False otherwise.

   Then, print the output of the function when called on `a_long_one` and when called on `a_short_one`.

In [2]:
a_long_one = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
a_short_one = [1, 2, 3]

def short(x):
  l=len(x)
  if (l<=10):
    r= True 
  else:
    r=False
  print(r)

short(a_long_one)
short(a_short_one)

False
True